exec swayidle -w \
	timeout 300 'swaylock -c $HOME/.config/swaylock/config' \
	timeout 600 'swaymsg "output * dpms off"' \
		resume 'swaymsg "output * dpms on"' \
	before-sleep 'swaylock -c $HOME/.config/swaylock/config'

for_window [class=".*"] inhibit_idle fullscreen
for_window [app_id=".*"] inhibit_idle fullscreen

bindsym $mod+period exec swaylock -c $HOME/.config/swaylock/config

